<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script th:inline="javascript">
		$(function() {
			$.getJSON('basicLineData.html?securityId=' + [[${stockRecord.securityId}]], function(data) {
				$('#basic-line-container').highcharts('StockChart', {
					rangeSelector : {
						selected : 5
					},
		
					title : {
						text : [[${stockRecord.listedCompanyName}]]
					},
					
					series : [{
						name : [[${stockRecord.symbol}]],
						data : data,
						tooltip: {
							valueDecimals: 2
						}
					}]
				});
			});
			
			$.getJSON('candleStickAndVolumeData.html?securityId=' + [[${stockRecord.securityId}]], function(data) {

				// split the data set into ohlc and volume
				var ohlc = [],
					volume = [],
					dataLength = data.length;
				// <![CDATA[
				for (i = 0; i < dataLength; i++) {
					ohlc.push([
						data[i][0], // the date
						data[i][1], // open
						data[i][2], // high
						data[i][3], // low
						data[i][4] // close
					]);
					
					volume.push([
						data[i][0], // the date
						data[i][5] // the volume
					])
				}
				// ]]>
				// set the allowed units for data grouping
				var groupingUnits = [[
					'week',                         // unit name
					[1]                             // allowed multiples
				], [
					'month',
					[1, 2, 3, 4, 6]
				]];

				// create the chart
				$('#candlestick-volume-container').highcharts('StockChart', {
				    
				    rangeSelector: {
				        selected: 5
				    },

				    title: {
				        text: [[${stockRecord.symbol}]] + ' Historical'
				    },

				    yAxis: [{
				        title: {
				            text: 'OHLC'
				        },
				        height: 200,
				        lineWidth: 2
				    }, {
				        title: {
				            text: 'Volume'
				        },
				        top: 300,
				        height: 100,
				        offset: 0,
				        lineWidth: 2
				    }],
				    
				    series: [{
				        type: 'candlestick',
				        name: [[${stockRecord.symbol}]],
				        data: ohlc,
				        dataGrouping: {
							units: groupingUnits
				        }
				    }, {
				        type: 'column',
				        name: 'Volume',
				        data: volume,
				        yAxis: 1,
				        dataGrouping: {
							units: groupingUnits
				        }
				    }]
				});
			});
			
			$('input#symbol').live('keypress',function(e){
				var p = e.which;
				if(p==13){
					window.location = 'index.html?symbol=' + $('input#symbol').val();
				}
			});
		});
	</script>
</head>
<body onload="$('input#symbol').focus();">
	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
	<input type="text" id="symbol" name="symbol" value="TextValue" th:attr="value=${symbol}" />
    <div th:if="${#strings.isEmpty(symbol) == false}" id="basic-line-container" style="height: 500px; min-width: 500px"></div>
    <div th:if="${#strings.isEmpty(symbol) == false}" id="candlestick-volume-container" style="height: 500px; min-width: 500px"></div>
</body>
</html>