<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{webapp.title}">Webapp ni Geng</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" type="image/ico" href="../../images/favicon.ico" th:href="@{/images/favicon.ico}" />
	<link rel="stylesheet" href="../../css/style.css" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div id="header" th:include="templates :: header"></div>
	<div id="adbox">
		<div class="clearfix">
			<img src="../../images/cognoscenti.gif" alt="Img" height="342" width="368" th:attr="src=@{/images/cognoscenti.gif},title=#{company.name},alt=#{company.name}" />
			<div>
				<h1>Cron Jobs</h1>
				<h2>Schedules</h2>
				<p>
					StocksCharts has the following cron job schedules. The main goal here is to capture the state of stocks in various events. The following lists the events with their next schedule.
				</p>
				<br />
				<p>
					Market snapshot of all stocks every 10 seconds during trading hours: <span th:text="${marketSnapshotNextSchedule}">19 November 2013 13:30:20</span>
				</p>
			</div>
		</div>
	</div>
	<div id="footer" th:include="templates :: footer"></div>
</body>
</html>